// Consistent styling with shop-actions component theme
// Using the same styling approach as shop-actions for consistency

.calendar-date {
  min-width: 50px;
  padding: 1rem 2rem;
  border: 1px solid #80808052;
  background: #a684ff5e;
  border-radius: 7px;
}