.date_block {
    span {
        display: block;
        font-size: 14px;
        color: #555;
        margin-bottom: 8px;
    }

    .expiry-date {
        font-size: 16px;
        font-weight: 500;
        color: #333;
        padding: 8px 16px;
        background-color: rgba(0, 0, 0, 0.103);
        border-radius: 8px;
        display: inline-block;
    }
}

nz-select {
    width: 100%;
}

.ant-card-body{
    padding: 12px !important;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // 2 per row
  gap: 16px;
}

.service-card {
  height: 100%; // make cards equal height
}