<div id="godBox" class="fixed inset-0 backdrop-blur-sm bg-black/20 flex items-center justify-center p-4 z-50">
    <div
        class="bg-violet-950/30 border-white/10 border rounded-2xl backdrop-blur-lg shadow-2xl w-full max-w-4xl max-h-[90vh] flex flex-col overflow-hidden">
        <!-- Dialog Header -->
        <div class="flex justify-between items-center border-b border-gray-200 py-3 px-4 mb-2">
            <p class="text-lg font-medium m-0 text-white ">God Box</p>
            <button (click)="closeDialog()" class="text-gray-400 hover:text-red-500">
                <mat-icon style="color: lightcoral;">cancel</mat-icon>
            </button>
        </div>

        <!-- Search Input -->
        <div class="p-4 border-gray-200">
            <input type="text" [(ngModel)]="searchQuery" (input)="onSearchChange()" style="color: white;"
                placeholder="Search Customer..."
                class="w-full px-4 py-2 rounded-lg focus:outline-none focus:ring-1 focus:ring-gray-400 placeholder-white text-white" />
        </div>

        <!-- Content Section Split 30/70 -->
        <div class="flex flex-1 overflow-hidden p-4" style="min-height: 500px;">
            <!-- Left Sidebar (30%) -->
            <div class="w-1/4 border-r border-gray-100 p-4 overflow-y-auto">
                <div class="flex flex-col space-y-2 gap-2">
                    <button *ngFor="let tab of tabs" (click)="selectedTab = tab" style="color: white;" [class]="
                        selectedTab === tab
                        ? 'bg-[#ededed29] px-3 py-2 rounded-lg text-left'
                        : 'text-white px-3 py-2 rounded-lg text-left hover:bg-[#ededed29] cursor-pointer'">
                        {{ tab }}
                    </button>
                </div>
            </div>

            <!-- Right Content (70%) -->
            <div class="w-3/4 p-4 overflow-y-auto">

                <!-- Screens (Horizontal Scroll) -->
                <!-- <div *ngIf="selectedTab === 'Screens'"
                    class="flex space-x-4 overflow-x-auto mt-2 pb-2 [&::-webkit-scrollbar]:hidden [-ms-overflow-style:'none'] [scrollbar-width:'none']">
                    <div *ngFor="let screen of screens" class="border p-2 rounded-lg shadow-sm w-40 flex-shrink-0">
                        <h4 class="text-sm font-semibold mb-1">{{ screen.name }}</h4>
                        <img [src]="screen.preview" alt="{{ screen.name }}" class="w-full h-32 object-cover rounded" />
                    </div>
                </div> -->

                <!-- Other Tabs -->
                <div *ngIf="selectedTab === 'Customer'" class="text-gray-100 mt-4 ">
                    @for (customer of customers; track $index) {
                    <div class="flex justify-between items-center bg-[#71687f] rounded-lg p-2 mt-2" (click)="returnCustomer(customer)">
                        <p>{{customer.firstName}}</p>
                        <div>
                            <p style="margin: 0;" class="text-purple-200">
                                {{customer.email}}
                            </p>
                            <p style="margin: 0;" class="text-purple-300">
                                {{customer.contactNumber}}
                            </p>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>


    </div>
</div>