<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav mode="side" [opened]="true" [class.expanded]="isExpanded" class="sidenav">
    <div class="flex items-center gap-1 justify-center mt-3 mb-3">
      <div class="h-10 w-12 p-1 rounded-xl text-white flex items-center justify-center">
        <img src="../../../assets/png/logo.png" alt="" srcset="" class="animate-spin">
      </div>
    </div>


    <!-- <mat-toolbar style="background: transparent;">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon style="color: rgb(207, 216, 208);">{{ isExpanded ? 'chevron_left' : 'chevron_right' }}</mat-icon>
      </button>
    </mat-toolbar> -->

    <mat-nav-list class="glass-card">
      <a mat-list-item routerLink="./home" routerLinkActive="active" class="nav-item">
        <mat-icon>home</mat-icon>
        <span class="nav-label" *ngIf="isExpanded">Home</span>
      </a>
      <!-- <a mat-list-item routerLink="./marketing" routerLinkActive="active" class="nav-item">
        <mat-icon>mail</mat-icon>
        <span class="nav-label" *ngIf="isExpanded">Marketing</span>
      </a> -->
      <a mat-list-item routerLink="./orders" routerLinkActive="active" class="nav-item">
        <mat-icon class="white_bg">currency_exchange</mat-icon>
        <span class="nav-label" *ngIf="isExpanded">Orders</span>
      </a>
      <a mat-list-item routerLink="./customers" routerLinkActive="active" class="nav-item">
        <mat-icon class="white_bg">people</mat-icon>
        <span class="nav-label" *ngIf="isExpanded">Customers</span>
      </a>
      <!-- <a mat-list-item routerLink="./requests" routerLinkActive="active" class="nav-item">
        <mat-icon>business_center</mat-icon>
        <span class="nav-label" *ngIf="isExpanded">Business Requests</span>
      </a>
      <a mat-list-item routerLink="./consignment" routerLinkActive="active" class="nav-item">
        <mat-icon>local_shipping</mat-icon>
        <span class="nav-label" *ngIf="isExpanded">Consignment</span>
      </a> -->
      <!-- <a mat-list-item routerLink="./analytics" routerLinkActive="active" class="nav-item">
        <mat-icon>analytics</mat-icon>
        <span class="nav-label" *ngIf="isExpanded">Analytics</span>
      </a> -->
      <a mat-list-item routerLink="./settings" routerLinkActive="active" class="nav-item">
        <mat-icon class="white_bg">settings</mat-icon>
        <span class="nav-label" *ngIf="isExpanded">Management</span>
      </a>
    </mat-nav-list>

    <div class="absolute bottom-5 right-4 ">
      <div class="flex flex-col">
        <a mat-list-item routerLink="./gym-checkin" routerLinkActive="active" class="nav-item">
          <mat-icon class="white_bg">assignment_turned_in</mat-icon>
          <span class="nav-label" *ngIf="isExpanded">Attendance</span>
        </a>
        <button *ngIf="authService.isLoggedIn()" (click)="logout()"
          class="cursor-pointer relative p-1 rounded-xl glass-card hover-lift hover:bg-white/15 hover:shadow-lg hover:shadow-blue-500/20 group"
          aria-label="Account" routerLink="/login" [queryParams]="{type: 'business'}">
          <mat-icon style="color: #FF204E">settings_power</mat-icon>
        </button>
      </div>
    </div>

  </mat-sidenav>

  <mat-sidenav-content class="content">
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>