.example-container {
    width: 100%;
    
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    min-height: calc(100vh - 170px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}