/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/indigo-pink.css';

// Import theme
@import 'styles/theme';

// Global styles
html, body { 
  height: 100%; 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

// Dialog styles
.login-dialog-container {
  .mat-mdc-dialog-container {
    padding: 0;
  }
}

.cdk-overlay-container {
  z-index: 1000;
}

.cdk-overlay-pane {
  max-width: 95vw !important;
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.light-backdrop {
  background: rgba(0, 0, 0, 0.1) !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  /* background-color: var(--mdc-dialog-container-color, white); */
}


.flex{
  display: flex;
}

.align-center{
  align-items: center;
}

.gap-3{
  gap: .3rem;
}

.gap-1rem{
  gap: 1.2rem;
} 

.wrap{
  flex-wrap: wrap;
}


.js-sa{
  justify-content: space-around;
}

.js-sb{
  justify-content: space-between;
}

.js-se{
  justify-content: space-evenly;
}

.js-c{
  justify-content: center;
}

.mdc-list-item__primary-text {
  display: flex;
  margin-left: 16px !important;
  width: 100% !important;
}

.mat-expansion-panel-body {
  padding: 0 16px 16px !important;
}

.text-align-center{
  text-align: center;
}

.m-4{
  margin: .5rem;
}

.m-8{
  margin: 1rem;
}

